/* styling words */

strong {
    color: #ff675a;
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.body-text-1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    padding-top: 26px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    line-height: 200%;
    color: #484848;
}

.hvr-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
}

.hvr-link {
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    padding-right: 10px;
}

.projects,
.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* styling buttons */

.resume-nav a {
    color: #484848;
    padding-bottom: 25px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    padding-left: 75%;
}

.social-media-tabs a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
}

a:hover {
    color: #ff675a;
}

.projects a {
    color: white;
    text-decoration: none;
}

.link a {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
    padding: 20px;
}

/* styling page layout */

hr {
    display: block;
    margin-top: 0.5em;
    margin-left: 400px;
    margin-right: 400px;
    border-style: outset;
    border-width: 1px;
}

.bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.projects .projects-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-text {
    text-decoration: none;
    color: #484848;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}

#food-search,
#shopping-list,
#trivia-game,
#home-finder {
    padding-left: 10px;
    padding-right: 10px;
    height: inherit;
}

#food-search a:hover,
#shopping-list a:hover,
#trivia-game a:hover,
#home-finder a:hover {
    opacity: 0.6;
    color: #ff675a;
}

/*follow this example for words over images: http://css-workshop.com/hover-box-text-over-images-on-hover-and-more/*/

#food-search,
#shopping-list,
#trivia-game,
#home-finder {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

#food-search img,
#shopping-list img,
#trivia-game img,
#home-finder img {
    max-width: 100%;
}

#food-search .hvrbox-layer_top,
#shopping-list .hvrbox-layer_top1,
#trivia-game .hvrbox-layer_top2,
#home-finder .hvrbox-layer_top3 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #f4f4f4;
    background: rgba(0, 0, 0, 0.8);
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

#food-search:hover .hvrbox-layer_top,
#food-search.active .hvrbox-layer_top,
#shopping-list:hover .hvrbox-layer_top1,
#shopping-list.active .hvrbox-layer_top1,
#trivia-game:hover .hvrbox-layer_top2,
#trivia-game.active .hrvbox-layer_top2,
#home-finder:hover .hvrbox-layer_top3,
#home-finder.active .hvrbox-layer_top3 {
    opacity: 0.9;
}

#food-search .hvrbox-text,
#shopping-list .hvrbox-text1,
#trivia-game .hvrbox-text2,
#home-finder .hvrbox-text3 {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    strong {
        font-size: 22px;
    }
    .body-text-1 {
        font-size: 22px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 24px;
    }
    .resume-nav a {
        font-size: 20px;
    }
    .hvr-text {
        font-size: 18px;
    }
    .contact-text {
        font-size: 22px;
    }
    .link a {
        font-size: 20px;
    }
    #food-search .hvrbox-layer_top,
    #shopping-list .hvrbox-layer_top1,
    #trivia-game .hvrbox-layer_top2,
    #home-finder .hvrbox-layer_top3 {
        opacity: 0;
        position: absolute;
        max-width: 100%;
        height: auto;
    }
    #food-search,
    #shopping-list,
    #trivia-game,
    #home-finder {
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }
    #food-search img,
    #shopping-list img,
    #trivia-game img,
    #home-finder img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 414px) {
    strong {
        font-size: 15px;
    }
    .body-text-1 {
        font-size: 15px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 18px;
    }
    .resume-nav a {
        font-size: 15px;
    }
    .hvr-text {
        font-size: 15px;
    }
    .contact-text {
        font-size: 15px;
    }
    .link a {
        font-size: 15px;
    }
    .hvr-link {
        font-size: 15px;
    }
    #food-search .hvrbox-layer_top,
    #shopping-list .hvrbox-layer_top1,
    #trivia-game .hvrbox-layer_top2,
    #home-finder .hvrbox-layer_top3 {
        opacity: 0;
        position: absolute;
        max-width: 100%;
        height: auto;
    }
    #food-search,
    #shopping-list,
    #trivia-game,
    #home-finder {
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }
    #food-search img,
    #shopping-list img,
    #trivia-game img,
    #home-finder img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 375px) {
    strong {
        font-size: 12px;
    }
    .body-text-1 {
        font-size: 12px;
    }
    h2 {
        font-size: 15px;
    }
    h3 {
        font-size: 15px;
    }
    .resume-nav a {
        font-size: 12px;
    }
    .hvr-text {
        font-size: 12px;
    }
    .contact-text {
        font-size: 12px;
    }
    .link a {
        font-size: 12px;
    }
    .hvr-link {
        font-size: 12px;
    }
    #food-search .hvrbox-layer_top,
    #shopping-list .hvrbox-layer_top1,
    #trivia-game .hvrbox-layer_top2,
    #home-finder .hvrbox-layer_top3 {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: auto;
    }
    #food-search,
    #shopping-list,
    #trivia-game,
    #home-finder {
        overflow: hidden;
        width: 370px;
        height: auto;
    }
    #food-search img,
    #shopping-list img,
    #trivia-game img,
    #home-finder img {
        width: 370px;
        height: auto;
    }
}
