header,
.navs,
.main-nav,
.resume-nav {
	display: flex;
	font-family: 'Work Sans', sans-serif;
}

h1 {
	font-size: 22px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 30px;
	padding-right: 110px;
	font-family: 'Work Sans', sans-serif;
	font-variant: small-caps;
}
.projects h2 {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 40px 10px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}
.contact h2 {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 40px 10px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}
.contact {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.bio h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	padding-top: 10px;
	display: flex;
	text-align: center;
	flex-direction: column;
	line-height: 200%;
	font-family: 'Work Sans', sans-serif;
}
p {
	font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	padding: 10px 20px;
}

.bio-pic {
	padding-top: 50px;
}
.bio-pic img {
	margin: 20px 600px;
	border-radius: 60%;
	width: 200px;
	height: 200px;
}
img {
	border: 1px solid black;
}

.projects .projects-icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
#shopping-list,
#trivia-game,
#home-finder {
	padding: 20px 10px;
}
.projects-icons a:hover {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
span:hover div a {
	display: block;
}

.navs a {
	padding: 15px 80px;
	text-decoration: none;
	font-size: 18px;
	color: black;
}
.main-nav a {
	padding-left: 200px;
	padding-right: 20px;
}
.resume-nav a {
	color: gray;
	padding-left: 300px;
}
#shopping-list,
#shopping-list *,
#trivia-game,
#trivia-game *,
#home-finder,
#home-finder * {
	box-sizing: border-box;
}
#shopping-list,
#trivia-game,
#home-finder {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

#shopping-list img,
#trivia-game img,
#home-finder img {
	max-width: 100%;
}
#shopping-list .hvrbox-layer_top,
#trivia-game .hvrbox-layer_top2,
#home-finder .hvrbox-layer_top3 {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	padding: 10px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#shopping-list:hover .hvrbox-layer_top,
#shopping-list.active .hvrbox-layer_top,
#trivia-game:hover .hvrbox-layer_top2,
#trivia-game.active .hvrbox-layer_top2,
#home-finder:hover .hvrbox-layer_top3,
#home-finder.active .hvrbox-layer_top3 {
	opacity: 1;
}
#shopping-list .hvrbox-text,
#trivia-game .hvrbox-text2,
#home-finder .hvrbox-text3 {
	text-align: center;
	font-size: 16px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.social-media-tabs a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	padding-right: 30px;
}
a:hover {
	color: #f7b15d;
}
hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 400px;
	margin-right: 400px;
	border-style: outset;
	border-width: 1px;
}
footer p {
	color: black;
	font-family: 'Work Sans', sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	font-size: 14px;
}
body {
	background-color: #fcf7f2;
	cursor: crosshair;
}
