.tabs,
nav,
a {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	padding: 8px 15px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 22px;
}
.tabs {
	background-color: #c6c8b5;
}
h1,
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	padding: 10px 35px;
}
h2 {
	text-decoration: underline;
}
.bio {
	border-style: hidden;
	background-color: #f9fbe7;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
.bio-pic img {
	margin: 50px 40px;
	border-radius: 60%;
	width: 300px;
	height: 300px;
	opacity: 20%;
}
img {
	border: 1px solid #000000;
}
#shopping-list,
#trivia-game,
#sample-3,
#sample-4 {
	padding: 0px 5px;
}
.projects {
	background-color: #ffffff;
}
.projects-icons {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.contact {
	background-color: #f9fbe7;
}
.footer {
	background-color: #c6c8b5;
}
